<body>

    <style>
        .Footer{
            height:25px;
            width:100%;
            display:flex;
            background-color:black;
            color:white;
            padding: 2rem;
            text-align: center;
            align-items: center;
        }
    </style>
    <div class = 'Footer'>
        <p>&copy; 2024 by LuxGems</p>
    </div>
</body>