<head>
    <link rel="stylesheet" href="../../public/style.css">
</head>

<body>
    <%-include('navbar.ejs')%>

        <div class="product-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                        <% product.forEach((prod) => {%>
                        <div class="product-item">
                            <img src="/public/assets/1716958878_ad0be18d82d902291d2f.jpg" class="img-fluid product-thumbnail">
                            <h3 class="product-title"><%= prod.productName %></h3>
                            <span></span><strong class="product-price"><i class="fas fa-rupee-sign"></i>
                                <%= prod.productPrice %></strong>
                            <h4><i class='fas fa-heart' style="color:red"></i>
                                <i class="fas fa-shopping-cart" style="color:black"></i>
                            </h4>
                        </div>
                   <% })%>
                    </div>
</body>