<body>
    <style>
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            overflow: hidden;
        }

        .page-container {
            display: flex;
            height: 100vh;
            width: 100%
        }

        .page-container p {
            text-align: center;
        }

        .page-container h3 {
            text-align: center;
        }

        .image-container {
            /* background-color: black; */
            flex: 1;
            background-image: url('c:/Users/Uma/Documents/Week - 7/reference/pexels-photo-15185229.webp');
            background-size: cover;
            background-position: center;
            height:100vh;
            width:100%;
            overflow: hidden; /* Prevent image from overflowing */

        }
        .image-container img{
            width:50vw
        }

        .SignUp-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
        }

        .SignUp-container form {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            border: 2px solid rgb(171, 135, 62);
            border-radius: 10px;
            padding: 10px;
            color: black;
            background-color: rgb(162, 165, 168);
            max-width: 400px;
            width: 100%;
            box-sizing: border-box;
        }

        .SignUp-container h3{
            text-align: center;
            font-size:40px;
            text-decoration: solid;
            
        }

        .SignUp-container p{
            font-size: 25px;
        }

        .SignUp-container input {
            padding: 0.6rem;
            border-radius: 5px;
            border: none;
            background-color: #eee;
            color: #333;
        }


         /* Footer style */
        .page-container footer {
            text-align: center;
            font-size: 0.8rem;
            color: #666;
            margin-top: 1rem;
        }
        .italianno-regular {
            font-family: "Italianno", cursive;
            font-weight: 600;
            font-style: normal;
            font-size: large;
            color: black
        }

        
        
    </style>




    <div class="page-container">
        <div class="image-container">
            <image src="../../public/assets/pexels-photo-15185229.webp" alt="Image"></image>
        </div>
        <div class="SignUp-container">
            <form action="/user/Sign-Up" method="post">
                <h3 class="italianno-regular">LuxGems</h3>
                <p class="italianno-regular">Sign-Up and Unlock the world of Diamonds</p>
                <input type="text" placeholder="Full Name : " name="name" required>
                <input type="text" placeholder="Phone Number : " name="phoneNumber" required>
                <input type="email" placeholder="Email Id:" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" required>
                <p class="italianno-regular""><input type="checkbox"required>Accept terms & conditions</p>
                <button type="submit" class="btn btn-dark">Sign-Up</button>
                <p class="italianno-regular">Already have an accoount ? <a href="/user/login">Login</a></p>
                <footer class="italianno-regular">© 2024 by LuxeGems</footer>

            </form>

        </div>
    </div>


</body>